<% provide(:title, 'Home') %>
<div class="center">
<p> Hallo and welcome to my little stork party or baby shower planning application. </br> 
I hope you enjoy it. Please don't hesitate to contact me with any requests or questions. </br> 
You can sign up or sign in below in the footer. </br> 

Thank you and enjoy!</p>

</div>
