<% provide(:title, 'Party Search Results') %>
<div class="center">
<t3>Baby Shower Registry Search Results</t3><br></br>

<div class="tablecustomtop">
<table cellpadding="10" align="center">
  <tr>
    <th class = "thone">Name</th>
	<th class = "thtwo">Link</th>
  </tr>

<% @registries.each do |registry| %>
  <tr>
    <td class = "tdone"><%= registry.name %></td>
	<td class = "tdtwo"><%= link_to 'Click Here', registry %></td>
  </tr>
<% end %>

</table>
</td>
</div>
</br>
