<% provide(:title, 'Party Search Results') %>

<h2>Party Search Results</h2>


<table>
  <tr>
    <th>partyname</th>
  </tr>

<% @registries.each do |registry| %>
  <tr>
    <th><%= registry.party_name %></th>
	<th><%= link_to 'Friends Party', registry %></th>
  </tr>
<% end %>
</table>
</td>
<br />
