@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */
header {
  border-bottom: 1px solid #eaeaea;
  color: #999;
  margin-bottom: 18px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* container */
.container,
.navbar-fixed-bottom .container {
  width: 750px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 0.9em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  
 float: right;   
 list-style: none;
  
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* forms */

.field1 {
 width: 6px;
 text-align: center;
} 

.field2 {
 border: 3px, light blue;
 width: 100px;
} 

.field3 {
 border: 3px, light blue;
 width: 38px;
} 

/* tables */

table{
 width:750px%;
 text-align: center;
 vertical-align: top;
 background-color: white;
 }
 
.thone { 
 width:130px;
 border-right: 0.1em dashed #CDCDCD;
 overflow:hidden;
 padding-top: 10px;
 padding-bottom: 10px;
 text-align:center;
 background: #bde1be;
 }
 
.thtwo { 
 width:130px;
 overflow:hidden;
 background: #bde1be;
 
 }
.tdone { 
 width:130px;
 overflow:hidden;
 border-right: 0.1em dashed #CDCDCD;
 padding: 10px;
 }

.tdtwo { 
 width:130px;
 border-right: none;
 overflow:hidden;
 padding: 10px;
 }
 
.cellpaddingth {
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  }

.cellpaddingtd {
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 0.1em dashed #CDCDCD;
  }
  
.tableform1 {
 width:50px;
 text-align: center;
}

.tableform2 {
 width:80px;
 text-align: center;
}

select {
  width: 180px;
  background-color: white;
}

.tableform3 {
 width:80px;
 text-align: center;
} 

.tableform4 {
 width:40px;
 text-align: center;
} 

.tableform5 {
 width:50px;
 text-align: center;
} 

.tableform6 {
 width:60px;
 text-align: center;
} 

.tableform7 {
 width:50px;
 text-align: center;
}  

.tableform8 {
 width:100px;
 text-align: center;
}

 
 /* home */
 
.split { 
 border-top: 1px solid #eaeaea;
 text-align: center;
 margin-bottom: 5px;
 margin-top: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
 }
 
  /* custom text */
  
t {
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 18px;
 }

t1 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 font-weight: bold;
 }
 
t2 {
 color: white;
}

t3 {
 color: #bde1be;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 font-weight: bold;
 text-align: center;
 }
 
t4 {
 color: #bde1be;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 font-weight: bold;
 text-align: center;
 }
 
columnt {
 width:375px;
 float:left;
 border-right: 0.1em dashed #CDCDCD;
 
 }
 
columnt2 {
 width:375px;
 padding-left: 25px;
 }
 
 /* background */

.bcontent {
 float: left;
 width: 100%;
 min-height: 100px;
 padding-bottom: 20px;
}

.form-background {
 background: #bde1be;
 }
 
  /* lists */
  
ul {
 list-style-type: circle;
 text-align: center;
 color: #9db3ad;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: bold; 
 }
 
.facebook {
 padding-left: 72px;
 }